<link rel="stylesheet" href="/css/index.css" />

<div class="modal" id="login">
  <div class="modal-content center">
    <form id="datos">
      <div class="input-field">
        <i class="fas fa-envelope prefix"></i>
        <input type="text" id="usuario" name="usuario" />
        <label for="usuario">
          Email
        </label>
      </div>

      <div class="input-field">
        <i class="fas fa-key prefix"></i>
        <input
          type="password"
          id="contrasena"
          name="contrasena"
          data-validetta="required"
        />
        <label for="contrasena">
          Contraseña
        </label>
      </div>

      <div class="enviar">
        <button class="btn" type="submit">
          Entrar
        </button>
      </div>
    </form>
  </div>
</div>

{{#if user}}
  <div class="myModal">
    <div class="myCard">
      <div class="card-content">
        <a class="waves-effect waves-light btn center" id="enviar">
          Enviar
        </a>
      </div>
      <div class="container" id="modal-container">
        <img src="" alt="" class="modal-img" id="modal-test" />
      </div>
    </div>
    <div class="close">
      <span id="close">
        X
      </span>
    </div>
  </div>
{{else}}
  <div class="myModal">
    <div class="mycard">
      <div class="container" id="modal-container">
        <img src="" alt="" class="modal-img" id="modal-test" />
      </div>
    </div>
    <div class="close">
      <span id="close">
        X
      </span>
    </div>
  </div>
{{/if}}

<div class="row carouselContainer">
  <div class="col s12 center-align">
    <h4 id="destacado">
      Destacado
    </h4>
  </div>
  <div class="col s12">
    <div class="carousel" id="destacadosCharger">
    </div>
  </div>
</div>
<div class="main">
  <div class="row">
    <div class="col s12">
      <h1 class="center-align" id="slogan">
        Conecta con las personas que amas
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="container" id="icon-container">
      <div class="icon-div" id="catAll">
        <a id="icons">
          <i class="material-icons">
            all_inclusive
          </i>
        </a>
      </div>

      <div class="icon-div" id="catAmor">
        <a id="icons">
          <i class="material-icons">
            favorite_border
          </i>
        </a>
      </div>
      <div class="icon-div" id="catFechas">
        <a id="icons">
          <i class="material-icons">
            date_range
          </i>
        </a>
      </div>
      <div class="icon-div" id="catVintage">
        <a id="icons">
          <i class="material-icons">
            history
          </i>
        </a>
      </div>
      <div class="icon-div" id="catComida">
        <a id="icons">
          <i class="material-icons">
            local_dining
          </i>
        </a>
      </div>
      <div class="icon-div" id="catPaisajes">
        <a id="icons">
          <i class="material-icons">
            beach_access
          </i>
        </a>
      </div>
      <div class="icon-div" id="catOtros">
        <a id="icons">
          <i class="material-icons">
            search
          </i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div  id="gal-container">
      <div class="row">
        <div class="col s3">
          <h4>
            Galería
          </h4>
        </div>
      </div>
      <div id="postalCharger">
      </div>

      <div class="row wrapper" id="wrapper">
        <div class="charging chargingPost1"></div>
        <div class="charging chargingPost2"></div>
        <div class="charging chargingPost3"></div>
        <div class="charging chargingPost4"></div>
        <div class="charging chargingPost5"></div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"
></script>
<script src="/js/index.js"></script>
