/*header-icons*/
#nav-li {
  margin:0 0.5rem;
  height:64px;

}
#nav-li i:hover{
  cursor:pointer;
}
.tabs{
  height:100%;
  background-color:transparent;
}
.tabs .tab{
  height:100%;
}
.tabs .tab a:hover{
  color:white;
}
.tab a.active{
  color:white !important;
}
.tabs .tab a{
  color:#787878;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(255,255,255,0.2);
}
.tabs .indicator{
  background-color:white;
}
/*.tabs{*/
  /*height:0;*/
  /*margin:0 !important;*/
/*}*/



.container{
  margin-top:2vh;
  width:90%;
  max-width:none;
  padding:1rem 3rem;
 background-color:#E0F7FA;
 height:90vh;
 

}
.tabla-header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  overflow:hidden;
  padding:1rem 0 0 0;
}
.div-search{
  display:flex;
  text-align:center;
}

.div-search button{
    background-color: Transparent;
    background-repeat:no-repeat;
  width:20%;
 border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none; float:right;
}
.div-search i{
  color:#226fbb;
}
/* label underline focus color */
.search:focus {
  border-bottom: 1px solid #226fbb !important;
}
.search{

  border-bottom:0.2rem solid #23374B;
  margin:0;
  float:left;
  width:80% !important;
}
.titulo{
  font-size:1.8rem;
  color:#226fbb;
}
/*Tabla Primera Seccion*/
#mitabla{
  overflow:hidden;
}
.imgContainer{
  height:15vh;
  padding:0.5rem;
  width:15%;
}
.imgContainer img{
border-radius:50%;
vertical-align:top;
  height:15vh;
  width:50%;

}
.nombre{
  width:20%;
}
.correo{
  width:30%;
}
.nacimiento{
  width:20%;
}
.icono{
  width:15%;
}
.icono i{
  color:#EC5F67;
  font-size:4vh;
}
.icono i:hover{
  cursor:pointer;
}
th{
  text-align:center;
}
@media (max-width: 800px) {
  .nombre{
    display:none;
  }
  .headNombre{
    display:none;
  }
  .imgContainer{
    display:none;
  }
  .headFoto{
    display:none;
  }
  .nacimiento{
    display:none;
  }
  .headNac{
    display:none;
  }
  .titulo{
    width:100%;
  }
  .tabla-header{
    justify-content:center;
  }

}
